<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746511966641-bkahn7ss9tha55kp7vtk39sjq3s7cpv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746511966641-bkahn7ss9tha55kp7vtk39sjq3s7cpv4</string>
	<key>API_KEY</key>
	<string>AIzaSyB7p3ETrMWo7DQX6hZdYOF7y4eEd5DO2-E</string>
	<key>GCM_SENDER_ID</key>
	<string>746511966641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barontech.ListeningEar</string>
	<key>PROJECT_ID</key>
	<string>listeningear-12068</string>
	<key>STORAGE_BUCKET</key>
	<string>listeningear-12068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746511966641:ios:88cb283ec3261018e6dd90</string>
</dict>
</plist>